.border {
  border: 1px solid black;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 300px;
  margin: 5rem 0 0 7.5rem;
}

#display {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #858694;
  color: #fff;
}

#display > h2 {
  margin: auto 0.25rem;
}

button {
  font-weight: 600;
  background: #e0e0e0;
}

#id16 {
  grid-column: 1 / span 2;
}

#id3,
#id7,
#id11,
#id15,
#id18 {
  background: #f5913e;
}

.text-box {
  margin: 2.5rem 0 0 2.5rem;
  padding: 0.5rem;
  width: 600px;
  /* text-justify: center; */
}

#loading {
  color: blue;
  text-align: center;
}

#error {
  color: red;
  text-align: center;
}
