#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 300px;
  gap: 0.2rem;
}

#display {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #43444a;
  color: #fff;
}

#display > h2 {
  margin: auto 0.25rem;
}

button {
  font-weight: 600;
  background: #fff;
  border: none;
}

#id16 {
  grid-column: 1 / span 2;
}

#id3,
#id7,
#id11,
#id15,
#id18 {
  background: #f58020;
}

.text-box {
  margin: 17.5rem auto 0;
  padding: 0.5rem;
  width: 600px;
}

#loading {
  color: rgb(26, 26, 255);
  text-align: center;
}

#error {
  color: rgb(255, 31, 31);
  text-align: center;
}

.link {
  color: inherit;
}

.active {
  color: #ff7300;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav {
  border-bottom: 3px solid #ff7300;
  margin-bottom: 3rem;
}

ul li:nth-child(-n + 2) {
  padding-right: 0.5rem;
  border-right: 2px solid black;
  border-color: #43444a;
  margin-right: 0.5rem;
}

li {
  list-style: none;
}

.content {
  padding: 0 2rem;
  max-width: 80rem;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
}
