#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 300px;
}

#display {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #858694;
  color: #fff;
}

#display > h2 {
  margin: auto 0.25rem;
}

button {
  font-weight: 600;
  background: #e0e0e0;
}

#id16 {
  grid-column: 1 / span 2;
}

#id3,
#id7,
#id11,
#id15,
#id18 {
  background: #f5913e;
}

.text-box {
  margin: 2.5rem 0 0 2.5rem;
  padding: 0.5rem;
  width: 600px;
  border: 1px solid black;
  margin: 15% auto 0;
}

#loading {
  color: blue;
  text-align: center;
}

#error {
  color: red;
  text-align: center;
}

.link {
  color: black;
}

.active {
  color: #f5913e;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav {
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
}
ul li:nth-child(-n + 2) {
  padding-right: 0.5rem;
  border-right: 1px solid black;
  margin-right: 0.5rem;
}

li {
  list-style: none;
}

.content {
  padding: 0 2rem;
  max-width: 80rem;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
}
