* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: rgb(0, 0, 0);
  color: #dddee0;
}

#root {
  min-height: 100vh;
  position: relative;
}
